<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyStore Automation Suite" verbose="1">

    <listeners>
        <listener class-name="listeners.ExtentTestListener"/>
        <listener class-name="listeners.ReportEmailTrigger"/>
        <listener class-name="listeners.RetryListener"/>

    </listeners>

    <test name="Sanity Tests">
        <classes>
            <class  name="com.mystore.testcases.IndexPageTest"/>
            <class  name="com.mystore.testcases.Login"/>
            <class  name="com.mystore.testcases.SearchTest"/>
            <class  name="com.mystore.testcases.ProductPageTest"/>
            <class  name="com.mystore.testcases.ClearShoppingCartTest"/>
            <class  name="com.mystore.testcases.FetchProductLinksTest"/>

                  
        </classes>
    </test>

</suite>
